.homeContainer {
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(223, 223, 223);
}

.homeContainer::after {
  position: absolute;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(15, 18, 29, 1));
  content: "";
  display: inline-block;
  width: 100%;
  height: 100px;
  z-index: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  position: relative;
}

.profilepic {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 3px solid white;
  border-style: inset;
}

.content h1, .content h3 {
  text-align: center;
}

.locationtag {
  color: #346aff;
}

.downIndicator {
  color: rgb(223, 223, 223);
  position: absolute;
  bottom: 10px;
  z-index: 1;
  font-size: 5rem;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-20px);
		-ms-transform:     translateY(-20px);
		transform:         translateY(-20px)
	}
	60% {
		-webkit-transform: translateY(-10px);
		-ms-transform:     translateY(-10px);
		transform:         translateY(-10px)
	}
}
.downIndicator:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}


.aboutContainer {
  /*background-image: url("../public/Space-bg.png");
  background-size: cover;
  background-repeat: no-repeat;*/
  background:rgba(15, 18, 29, 1);
  color: rgb(223, 223, 223);
}

.skillsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.aboutContainer h1 {
  width: 100%;
  text-align: center;
}

.aboutContainer .hero {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.aboutContainer .heroItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  width: 32%;
}

.aboutContainer .heroItem p {
  text-align: center;
  width: 70%;
}

.aboutContainer .heroItem i {
  font-size: 4rem;
}

.aboutContainer .heroItem p span {
  color: rgb(255, 247, 129)
}

.skillCol {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 20rem;
  align-items: center;
}

.skillCol h3 {
  width: 100%;
  text-align: center;
}

.skillList {
  list-style-type: none;
  line-height: 40px;
  align-items: center;
  padding: 0;
  width: 100%;
}

.skillList li {
  background:rgb(170, 170, 170);
  margin: 10px;
  color:rgba(0, 0, 0, 0.8);
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  position: relative;
}

.skillList .multilevel li {
  background:rgb(194, 194, 194);
}

.skillList .multilevel {
  padding-bottom: 6px;
}

.skillList li img {
  width: 30px;
  height: 30px;
}

#frontend li {
  box-shadow: -3px 0px 0px red;
}

#backend li {
  box-shadow: -3px 0px 0px rgb(0, 162, 255);
}

#design li {
  box-shadow: -3px 0px 0px rgb(0, 255, 0);
}

#other li {
  box-shadow: -3px 0px 0px yellow;
}

.projectsContainer {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  position: relative;
  color: rgb(223, 223, 223);
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.projectsContainer::before {
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(rgba(15, 18, 29, 1), rgba(0, 0, 0, 0));
  display: inline-block;
  z-index: 0;
}

.projectsContainer::after {
  position: absolute;
  bottom:0;
  width: 100%;
  height: 100px;
  content: "";
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 1));
  display: inline-block;
  z-index: 0;
}

.projectsContainer .cards {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectsContainer .card {
  border: none;
  border-radius: 1rem;
  background:rgb(223, 223, 223);
  overflow: hidden;
  color:rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-bottom: 2rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.8s cubic-bezier(.25,.8,.25,1);
}

.projectsContainer .card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transform: scale(1.05);
}

.projectsContainer .cardImg {
  width: 50%;
  object-fit: cover;
  opacity: 0.8;
}

.projectsContainer .cardBody {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  text-align: start;
}

.projectsContainer .cardBody h3 {
  text-align: center;
}

.projectsContainer .btnContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
}

.projectsContainer .cardSkills {
  display: inline-flex;
  width: 100%;
  justify-content: flex-start;
  font-weight: 700;
  align-items: center;
}

.projectsContainer .cardSkills img {
  height: 20px;
  width: 20px;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

#cardReverse {
  flex-direction: row-reverse;
}

.contactContainer .contactForm {
  width: 50%;
}

.contactContainer .contactForm input {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid rgb(190, 190, 190);
  margin-bottom: 2rem;
}

.contactContainer .contactForm textarea {
  border-radius: 0;
  border: 2px solid rgb(190, 190, 190);
}

.notice {
  color: red;
  font-size: 12px;
  margin: 0;
  margin-top: 1rem;
}


/* Media queries for responsive resizing */

/* Set these values when the screen width is less than 799px */
@media screen and (max-width: 799px) {
  .profilepic {
    width: 200px;
    height: 200px;
  }

  .skillsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .aboutContainer .hero {
    display: block;
  }

  .aboutContainer .heroItem {
    width: auto;
  }

  .projectsContainer .card {
    flex-direction: column;
    width: 90%;
  }
  .projectsContainer .cardImg {
    width: 100%;
  }
  .projectsContainer .cardBody {
    width: 100%;
    text-align: start;
  }
  .projectsContainer .cardSkills {
    justify-content: center;
  }
  #cardReverse {
  flex-direction: column;
  }
  .projectsContainer .card .cardBody .btnContainer button i {
    display: none;
  }
  .projectsContainer .card .cardBody p ul {
    text-align: start;
  }

  .contactContainer .contactForm {
    width: 70%;
  }
}